{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ 'app.instructions'|trans }}</p>
    <a href={{ url('index', {'army1': 5, 'army2': 4}) }}>{{ 'app.click_example'|trans|capitalize }}</a>
{% endblock %}